<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block subject %}API Mailing{% endblock %}</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    {% block body_text %}
                    Blank API Mailer Message, please extend this block.
                    {% endblock %}
                </td>
            </tr>
        </table>
    </body>
</html>