{% extends '/email/base.twig' %}

{% block subject %}{{ data.uri.getHost() }} - Password Update{% endblock %}

{% block body_text %}
  <h4>Hello {{ data.profile.firstName }},</h4>

  <p>
      This is a confirmation that the password for your account has just been changed.
  </p>
{% endblock %}