{% extends '/email/base.twig' %}

{% block subject %}{{ data.uri.getHost() }}  - Password Reset{% endblock %}

{% block body_text %}
  <h4>Hello {{ data.profile.firstName }},</h4>

  <p>
      To reset your password, <a href="{{ data.uri.getBaseUrl() }}/resetpassword?rtoken={{ data.token }}">please follow this link.</a>
  </p>
{% endblock %}