{% extends 'base.html.twig' %}

{% block subject %}{{ data->uri->getHost() }}  - Password Reset{% endblock %}

{% block content %}
  <h4>Hey {{ data->user->profile->firstName }},</h4>

  <p>
      To reset your password, <a href="{{ data->uri->getBaseUrl()}}/api/resetpassword/{{ data->token }}">please follow this link.</a>
  </p>
{% endblock %}